@{
	ViewData["Title"] = "Lender Loan";
	Layout = "_LayoutLender";
}

<h2>Lender Loan</h2>

<table class="table table-striped" id="loanTable">
    <thead>
        <tr>
            <th>Nama Peminjam</th>
            <th>Jumlah Pinjaman</th>
            <th>Bunga</th>
            <th>Durasi</th>
            <th>Status Pinjaman</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/lenderloan.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
}

